* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Source sans pro;
    height: 100%;
}

header {
    position: absolute;
    margin-top: 30px;
    width: 100%;
}

.hamburger {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    display: none;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

nav img {
    height: 40px;
    margin-left: 30px;
}

.nav-links {
    margin-right: 30px;
    font-size: large;
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: bold;
    color: #F2F2F2;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

li a:hover {
    color: #FF6565;
}

.hero {
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 61em;
    display: flex;
    flex-direction: column;
}

.hero-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
}

.hero-heading {
    margin-top: 20em;
    margin-bottom: 50px;
}

.hero-heading h1 {
    font-size: 42px;
    font-weight: bold;
}

.hero-heading p {
    font-size: 17px;
}

.hero-content button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 80px;
    background-color: #FF6565;
}

.hero-content button:hover {
    opacity: 0.9;
}

.hero-content p {
    font-size: 17px;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.what-we-do {
    padding: 20px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.doing-section1 {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.doing-section1 h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.doing-section1 p {
    font-size: 16px;
    line-height: 2;
}

.doing-section2 {
    margin: 10px auto;
    display: flex;
    gap: 40px;
    max-width: 900px;
    align-items: center;
    margin-top: 5em;
}

.doing-item {
    margin-top: 20px;
}

.doing-item span {
    font-size: 90px;
    color: #FF6565;
}

.doing-item p {
    font-size: 14px;
    margin-top: 50px;
}

.our-results {
    background-image: url(images/headphones_hero_2.jpg);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    margin: 100px auto;
    padding: 30px;
    color: #FFFFFF;
}

.result1 {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 100px auto;
}

.result1 h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.result1 p {
    font-size: 16px;
    line-height: 2;
}

.result2 {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    gap: 10em;
    justify-content: center;
    align-items: center;
}

.pentagon {
    position: relative;
}

.pentagon img {
    width: 190px;
    position: relative;
}

.pentagon-words {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pentagon-words h4 {
    font-size: 32px;
}

.pentagon-words p {
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: block;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        color: white;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        gap: 40px;
    }

    .nav-links.show {
        display: flex;
    }

    nav img {
        height: 40px;
        margin: 0 auto;
    }

    .what-we-do {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .doing-section2 {
        flex-direction: column;
    }

    .result2 {
        flex-direction: column;
    }
}